html
    head
        title 3axes (BETA)
        icon(href="static/images/icon.png")
        link(rel="stylesheet", href="static/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:400,700")

<body>
script(src="static/js/questions.js")

<h1>3axes (BETA)</h1>
<hr>
<h2 style="text-align:center;" id="question-number">Loading...</h2>
<p class="question" id="question-text"></p>
<button class="button" onclick="nextQuestion( 1.0)" style="background-color: #1b5e20;">Strongly Agree</button> <br>
<button class="button" onclick="nextQuestion( 0.5)" style="background-color: #4caf50;">Agree</button> <br>
<button class="button" onclick="nextQuestion( 0.0)" style="background-color: #bbbbbb;">Neutral / Unsure</button> <br>
<button class="button" onclick="nextQuestion(-0.5)" style="background-color: #f44336;">Disagree</button> <br>
<button class="button" onclick="nextQuestion(-1.0)" style="background-color: #b71c1c;">Strongly Disagree</button> <br>
<button class="small_button" onclick="prevQuestion()" id="back_button">Back</button>
<button class="small_button_off" id="back_button_off">Back</button><br>

script(src="static/js/quiz.js")
</body>
